.hboxes{
    display: flex;
    align-items: stretch;
    width: 100%;

    margin-top: 20px;

    color: #666;
}
.hboxes > div{
    flex-grow: 1;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #000 !important;
}
.hboxes span{
    color: #000 !important;
    font-weight: bold;
}
.accepted_box{
    border-left: 5px solid #7cb342;
    padding-left: 10px;
}
.noresponse_box{
    border-left: 5px solid #fdd835;
    padding-left: 10px;
}
.declined_box{
    border-left: 5px solid #e64a19;
    padding-left: 10px;
}
.accepted_box span, .noresponse_box span, .declined_box span{
    font-size: 25px;
}

.list{
    margin-top: 20px;
}

.person{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.person .email{
    font-size: 0.9em;
    color: #666;
}