* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

header::after{
    content: "";
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 1;
}

header{
    height: 500px;
    max-height: 50vh;
    background-image: url(conference.jpg);
    background-position: center;
    background-size: cover;

}

header .logo{
    z-index: 2;
}

header .inner{
    margin: auto;
    padding: 20px;
    max-width: 960px;

    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

}
header .text{
    text-align: center;
    font-size: 70px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;    
    text-shadow: 1px -1px 5px #000000;
}

main{
    
    margin: auto;
    padding: 20px;
    max-width: 960px;
}




input:not([type=checkbox]), select, button{
    display: block;
    margin-bottom: 15px;
}

input, select{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

label{
    display: block;
}

button{
    padding: 5px 7px;
    border-radius: 6px;
    border: 1px solid #1976D2;
    background: #2196F3;
    color: #fff;
}

.clear{
    clear: both;
}

